body {
    font-family: Arial, sans-serif;
    background-image: url("../../images/Background.jpg"), 
                      linear-gradient(135deg, #00c6ff 0%, #0072ff 100%);
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(0, 0, 0);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 8px;
}

#addBtn {
    padding: 8px 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#addBtn:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 8px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.deleteBtn {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
}

.deleteBtn:hover {
    background-color: darkred;
}